/* images */

img {
	max-width: 100%;
}

/* layout */

#container {
	margin: auto;
	max-width: 1200px;
}

.nav {
	width: 100%;
}

.nav li {
	list-style-type: none;
	display: inline-block;
	margin: auto;
}

.contact-info {
	margin: 5px;
}

/* type */

